<ul class="list-group">
    <li class="list-group-item">
        <h3 class="delta-object-text"><i>{{ model.bookInfo.title }} : Overview</i></h3>
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Summary:</label>
        <p ng-bind-html="model.trustThisContent(model.bookInfo.description)"></p>
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Author:</label>
        <ul ng-repeat="author in model.bookInfo.authors">
            <li>{{author}}</li>
        </ul>
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Rating:</label>
        <p><i>{{ model.bookInfo.averageRating }}/5 ({{ model.bookInfo.ratingsCount }} votes)</i></p>
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Published Date:</label>
        {{model.bookInfo.publishedDate}}
    </li>
    <li class="list-group-item">
        <div ng-repeat="identifier in model.bookInfo.industryIdentifiers">
            <div ng-switch="identifier.type">
                <div ng-switch-when="ISBN_10">
                    <label class="delta-object-text">ISBN-10:</label>
                    {{identifier.identifier}}
                </div>
                <div ng-switch-when="ISBN_13">
                    <label class="delta-object-text">ISBN-13:</label>
                    {{identifier.identifier}}
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Publishers:</label>
        {{model.bookInfo.publisher}}
    </li>
    <li class="list-group-item">
        <label class="delta-object-text">Genre:</label>
        <ul ng-repeat="category in model.bookInfo.categories">
            <li>{{category}}</li>
        </ul>
    </li>
</ul>