<div class="delta-object-title-head">Book Inventory</div>
<ul class="list-group">
    <li ng-repeat="book in model.viewBooks" class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img class="delta-list-image" ng-src="{{book._book.cover}}" width="120" height="160">
            </div>
            <div class="col-xs-10 col-sm-8">
                <a href="#!/book/{{book._book._id}}/detail"><h4>{{book._book.name}}</h4></a>
                <p class="hidden-xs">{{book._book.description}}</p>
            </div>
            <div class="col-xs-1">
                <a href="#!/book/{{book._book._id}}/manage" ng-show="model.loggedUser.isSeller">
                    <span class="glyphicon glyphicon-cog pull-right"></span></a>
            </div>
        </div>
    </li>
</ul>